<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="messages">
      <% messages.forEach(message => {%>
      <div class="message">
        <p class="messageText">
          <%= message.text %>
        </p>
        <p>
          <span class="messageAuthor"><%= message.user %></span>
          <span class="messageDate"><%= message.added %></span>
        </p>
      </div>
      <% }) %>
      <a href="/new"><button>New Message</button></a>
    </div>
  </body>
</html>
